/* these all apply to the body element -> global rules */

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
  }
  
  .hidden { display: none; }
  
  html, body { height: 100% }
  
  body { 
  font-family: sans-serif;
  background-color: black;
  color: white;
  
  background-image: url("../img/background.webp");
  background-repeat: no-repeat;
  background-size:cover;
  }
  
  /* main header rules */
  header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: end;
  }
  
  #main-logo { width: 220px; padding: 10px 20px; margin-left: auto; }
  
  /* main rules here */
  #character-nav { margin-left: 30%; max-width: 60%; }
  
  .characters { list-style-type: none; }
  
  .characters li { 
    display: inline-block;
    height: 218px;
    width: 150px;
    margin: 10px 8px;
  
    background-color: black;
  
    text-align: left;
  
    cursor: pointer;
  }
  
  .characters li h5 {
    color: white;
    padding: 12px 8px;
  }
  
  .characters li a { text-decoration: none; }
  
  .red_bumper {
    width: 100%;
    height: 6px;
    background-color: red;
    transition: height 1s ease;

   
  }
  .characters li:hover .red_bumper { height: 70px; }



  input[type="checkbox"] { margin-right: 10px;}
 
  input[type="checkbox"]


input[type="checkbox"]:checked+span::after{
    content: '\26bd';
    width: 15px;
    height: 15px;
    padding: 2px;
    border-radius: 50%;
    background-color: rgb(13, 213, 236);
    border: 4px solid rgb(10, 70, 85);

}
  
  article { 
    padding: 20px;
    margin-left: 30%;
  }
  
  /* select the h3 tag inside the article tag on the page */
  /* a selector followed by a space and then ANOTHER selector gets a reference to the parent element and then the child element or elements inside of it */
  article h3  {
    font-size: 2.5em;
    margin-bottom: 14px;
  }
  
  /* select the p tag inside the article tag on the page */
  article p {
    font-size: 1.5em;
    line-height: 1.2;
  }
  
  .sprite {
    width: 150px;
    height: 150px;
    
    background-image: url('../img/Flag_sprites.jpg');
  }
  #germany{ background-position:  0px 0;}
  #carol { background-position: -151px 0; }
  #clint { background-position: -302px 0; }
  #hulk { background-position: -453px 0; }
  #thor { background-position: -602.8px 0; }
  #widow { background-position: -751px 0; }
  
  .sprite:hover { background-position-y: -150px !important; }
  
  /* footer rules here */
  footer {
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .sticky_footer {
    position: sticky;
    top: 100%;
    height: 80px;
  
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* lightbox rules here */
  
  .lightbox { 
    width: 100vw; /* vw = viewport width => screen width */
    height: 100vh; /* vh = viewport height => screen height */
  
    position: absolute;
    top:0;
    left: 0;
  
    background-color: rgba(0, 0, 0, 0.937);
    background-image: url('../img/Germany_Team.jpg');
    background-repeat: no-repeat;

    background-size: 80vh; /* 55% of the viewport height */
    background-position:   15px center;

    
   

  
    display: none;
  }
  
  #lightbox2 { background-image: url('../img/Portugal_Team.jpg'); }
  #lightbox2 { background-color: black;
    background-position: 15px center;
    z-index: 5000;
   width: 100vw;
height: 100vh;}
  
  .lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;
  
    color: white;
    font-size: 3em;
  
    text-decoration: none;
  
    font-weight: bolder;
  }
  
  .lightbox_close:hover { opacity: 0.5; color: red; }
  
  .lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
  }
  
  .lb_text, .lb_heading { text-align: left; }
  
  .lb_text {
    line-height: 1.6 !important;
    margin-left: 0;
    padding-top: 2em;
  }
  
  /* turn the lightbox on using the :target pseudo selector */
  .lightbox:target { display: block; }