* {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

.hidden { display: none; }

html, body { height: 100% }

body { 
font-family: sans-serif;
background-color: black;
color: white;

background-image: url("../img/background.webp");
background-repeat: no-repeat;
background-size:cover;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: end;
}

#main-logo { width: 220px; padding: 10px 20px; margin-left: auto; }

#character-nav { margin-left: 30%; max-width: 60%; }

.characters { list-style-type: none; }

.characters li { 
  display: inline-block;
  height: 220px;
  width: 150px;
  margin: 10px 10px;
  background-color: black;
  text-align: center;
  cursor: pointer;
}

.characters li h5 {
  color: white;
  padding: 12px 8px;
}

.characters li a { text-decoration: none; }

.red_bumper {
  width: 100%;
  height: 6px;
  background-color: rgb(9, 25, 168);
  transition: height 1s ease;

 
}
.characters li:hover .red_bumper { height: 35px; }



input [type="checkbox"] { margin-right: 20px;}



input[type="checkbox"]:checked+span::after{
    content: '\26bd';
    width: 150px;
    height: 15px;
    padding: 1px;
    border-radius: 50%;
    background-color: rgb(2, 48, 53);
    border: 3px solid rgb(23, 84, 252);
    text-align:center;
}
  .sprite {
    width: 150px;
    height: 150px;
    
    background-image: url('../img/Flag_sprites.jpg');
  }
  #Germany{ background-position:  0px 0;}
  #Portugal { background-position: -151px 0; }
  #Spain { background-position: -302px 0; }
  #UnitedArab { background-position: -453px 0; }
  #Colombia { background-position: -602.8px 0; }
  #Brazil { background-position: -751px 0; }
  
  .sprite:hover { background-position-y: -150px !important; }
  
  footer {
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .sticky_footer {
    position: sticky;
    top: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /*lightbox*/

  article { 
    padding: 20px;
    margin-left: 30%;
  }

  article h3  {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  article p {
    font-size: 1.5em;
    line-height: 1.2;
  }
  
  
  .lightbox { 
    width: 100vw;
    height: 115vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(10, 8, 0, 0.96);
    background-image: url('../img/Germany_Team.jpg');
    background-repeat: no-repeat;
    background-size: 80vh;
    background-position: 30px center;
    z-index: 5000;
    display:none;
}

  #lightbox2 { 
    background-image: url(../img/Portugal_Team.jpg); }
  
  #lightbox2 { 
    background-color:rgba(10, 8, 0, 0.96);
    background-position: 30px center;
    background-size: 80vh;
    z-index: 5000;
    width: 100vw;
    height: 115vh;}
  
  .lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
  }
  
.lb_text, .lb_heading { text-align: left; }

.lightbox:target { display: block; }

.lb_text {
  line-height: 1.6 !important;
  margin-left: 0;
  padding-top: 2em;
}

.lightbox_close {
  position: relative;
  top: 20px;
  left: 95%;
  color: white;
  font-size: 3em;
  text-decoration: none;
  font-weight: bolder;
}

.lightbox_close:hover { opacity: 0.5; color: rgb(109, 130, 245); }
